<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PZ Stats</title>
    <style>
        .data {
            color: {{.FontColor}};
            font-family: 'Courier New', Courier, monospace;
        }

        .quantity {
            text-align: end;
        }
    </style>
</head>

<body>

{{if .Data}}
    <table class="data">
        {{range .Data}}
            <tr class="row">
                <td class="name">{{.Name}}</td>
                <td class="spacer">|</td>
                <td class="quantity">{{.Quantity}}</td>
            </tr>
        {{end}}
    </table>
{{end}}

<script type="application/javascript" src="/chart.min.js"></script>
<script>
    (function () {
        const urlParams = new URLSearchParams(window.location.search);
        const refresh = urlParams.get("refresh");
        if (refresh) {
            const refreshInt = parseInt(refresh);
            if (refreshInt > 1000) {
                setInterval(function () {
                    location.reload();
                }, refreshInt);
            }
        }
    })();
</script>
</body>

</html>